html, body {
  font: 1rem sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}



.floorplan {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Kitchen Full-bath Livingroom"
    "Bedroom-1 Bedroom-2 Livingroom"
    "Half-bath Bedroom-3 Bedroom-3"; 
}
.Full-bath { grid-area: Full-bath; 
  text-align: center;
background-color: aqua;}
.Kitchen {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Oven Sink ."
    ". . ."
    ". . ."; 
  grid-area: Kitchen; 
  background-color: brown;
}
.Oven { grid-area: Oven; 
background-color: chartreuse;}
.Sink { grid-area: Sink; 
background-color: chocolate;}
.Bedroom-1 { grid-area: Bedroom-1; 
background-color: darkolivegreen;}
.Livingroom { grid-area: Livingroom; 
background-color: darkcyan;}
.Bedroom-2 { grid-area: Bedroom-2; 
background-color: cornflowerblue;}
.Half-bath { grid-area: Half-bath; 
background-color: floralwhite;}
.Bedroom-3 { grid-area: Bedroom-3; 
background-color: khaki;}

.kitchen-text {
  align-self:baseline;
}